#game-area {
  margin: 2rem 0 5rem 0;
  text-align: center;
}

#game-over {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  background-color: $accent-color;
  color: #fff;
  box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.2);
  border-radius: 7px;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

#active-player-name {
  font-weight: bold;
  color: $accent-color;
}

#game-board {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 0.5rem;
  justify-content: center;

  li {
    background-color: rgb(215, 187, 247);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: rgb(112, 13, 204);
    }
  }

  .disabled {
    background-color: rgb(112, 13, 204);
    color: #fff;
    cursor: default;
  }
}
