.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.modal {
  position: fixed;
  top: 40vh;
  left: 5%;
  width: 90%;
  border-radius: 7px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.2);
  background-color: #fff;
  text-align: center;

  h2 {
    margin-bottom: 0.75em;
  }
}

@media screen and (min-width: 48rem) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

#config-error {
  margin-bottom: 1em;
}

.modal-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.error {
  label {
    color: #880202;
  }

  input {
    border-color: #880202;
    background-color: #fddbdb;
  }
}

.form-control {
  margin-bottom: 0.75em;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input {
    font: inherit;
    border: 1px solid #ccc;
    width: 80%;
    padding: 0.35rem;
  }
}
